.add-device-container {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: left;
  font-weight: bold;
  color: #333;
}

.add-device-form {
  margin-top: 20px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.checkbox-group input {
  margin-right: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-save {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #218838;
}

.btn-close {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-close:hover {
  background-color: #c82333;
}
