.footer {
    background-color: #333; /* Gray background */
    color: white; /* White text */
    text-align: center;
    padding: 1px 0; /* Padding for spacing */
    width: 100%;
    position: fixed; /* Fixed at the bottom */
    bottom: 0;
    left: 0;
  }
  