.header-container {
  position: relative;
}
.top-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f8f9fa; /* Match header background color */
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  /* border-bottom: 1px solid #ddd; */
}

.header-content {
  flex-grow: 1;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.breadcrumb {
  margin-top: 5px;
  color: #6c757d;
}

.breadcrumb-home {
  color: #28a745;
  font-weight: bold;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-icon,
.profile-icon {
  font-size: 24px;
  cursor: pointer;
}
